body {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar {
	margin-bottom: 10px;
}

.center {
	text-align: center;
}

.upload {
	width: 80%;
	min-height: 100px;
	margin: 20px auto;
	vertical-align: middle;
	padding: 10px;
}
.uploadinactive {
	border: 2px dashed #ccc;
	color: #ccc;
}
.uploadactive {
	border: 1px solid #333;
	color: #333;
}